{% extends 'base.html.twig' %}

{% block title %}
    Liste des produits
{% endblock %}

{% block body %}
    {# Affiche une alerte indiquant une réduction sur le dernier produit #}
    <div class="alert alert-primary">
        Réduction de 20% sur le produit: {{ lastproduit.nom }}
    </div>

    {# Si l'utilisateur a le rôle ROLE_ADMIN, affiche le bouton d'insertion d'un nouveau produit #}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-info mb-2" href="{{ path('insert') }}">
            Insertion d'un nouveau produit
        </a>
    {% endif %}

    {# Affiche la liste des produits sous forme de cartes Bootstrap #}
    <div class="d-flex flex-row justify-content-around flex-wrap">
        {% for produit in listeproduits %}
            <div class="card" style="width: 18rem;">
                {# Affiche l'image du produit #}
                <img class="card-img-top" src="{{ asset('img/' ~ produit.lienImage) }}" height="200px" alt="image">

                <div class="card-body">
                    {# Affiche le nom du produit #}
                    <h5 class="card-title">{{ produit.nom }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {# Affiche la référence du produit, si elle existe #}
                            {% if produit.reference is not null %}
                                Référence:
                                {{ produit.reference.numero }}
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            Distributeurs:
                            {# Affiche la liste des distributeurs associés au produit, ou un message si aucune association n'existe #}
                            {% if produit.distributeurs is not empty %}
                                {% for distributeur in produit.distributeurs %}
                                    {{ distributeur.nom }}&nbsp;
                                {% endfor %}
                            {% else %}
                                pas de distributeur joint
                            {% endif %}
                        </li>

                    {# Affiche la description du produit #}
                        <li class="list-group-item">
                            Prix: {{ produit.prix }} Euros
                        </li>
                        <li class="list-group-item">
                            {# Affiche "Rupture de stock" ou la quantité disponible #}
                            {% if produit.rupture %}
                                <strong>Rupture de stock</strong>
                            {% else %}
                                Quantité: {{ produit.quantite }}
                            {% endif %}
                        </li>
                    </ul>
                    <div class="card-body">
                        {# Bouton pour ajouter le produit au panier #}
                        <a href="#" class="btn btn-primary">Ajouter au Panier</a>
                        {# Bouton pour éditer le produit : redirige vers la route update avec l'ID du produit #}
                        <a class="btn btn-warning mt-2" href="{{ path('update', {'id': produit.id }) }}">
                            Editer le produit
                        </a>
                        {# Bouton pour supprimer le produit : redirige vers la route delete avec l'ID du produit #}
                        <a class="btn btn-danger mt-2" href="{{ path('delete', {'id': produit.id }) }}">
                            Supprimer le produit
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}