{% extends 'base.html.twig' %}

{% block title %}Distributeur{% endblock %}

{% block body %}
    <h1>Distributeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ distributeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ distributeur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_distributeur_index') }}">back to list</a>

    <a href="{{ path('app_distributeur_edit', {'id': distributeur.id}) }}">edit</a>

    {{ include('distributeur/_delete_form.html.twig') }}
{% endblock %}
